version: "3.9"

services:
  backend:
    build: ./backend
    ports:
      - "8000:8000"
    env_file:
      - ./backend/.env

  frontend:
  build:
    context: ./frontend
    args:
      REACT_APP_API_URL: http://54.172.220.112:8000
  ports:
    - "80:80"
  depends_on:
    - backend
