version: "3.9"

services:
  backend:
    image: maghandas/fastapi-backend:latest
    ports:
      - "8000:8000"
    env_file:
      - .env
    restart: always

  frontend:
    image: maghandas/fastapi-frontend:latest
    ports:
      - "80:80"
    depends_on:
      - backend
    restart: always
