version: "3.9"

services:
  backend:
    build: ./backend
    ports:
      - "8000:8000"
    env_file:
      - ./backend/.env #need to create this file when deployed and paste here the database url.
    depends_on:
      - db

  frontend:
    build: ./frontend
    ports:
      - "80:80"
    depends_on:
      - backend

  db:
    image: postgres:15
    environment:
      POSTGRES_USER: postgres
      POSTGRES_PASSWORD: <YOUR_DB_PASSWORD> # here comes the password for your rds postgress
      POSTGRES_DB: postgres
    ports:
      - "5432:5432"
