name: CI/CD Pipeline

on:
  push:
    branches: [ main ]
  workflow_dispatch:

jobs:
  deploy:
    runs-on: ubuntu-latest

    steps:
    - name: Checkout code
      uses: actions/checkout@v4

    - name: Login to Docker Hub
      uses: docker/login-action@v3
      with:
        username: ${{ secrets.DOCKER_USERNAME }}
        password: ${{ secrets.DOCKER_PASSWORD }}

    - name: Build & Push Backend
      run: |
        docker build -t ${{ secrets.DOCKER_USERNAME }}/fastapi-backend ./backend
        docker push ${{ secrets.DOCKER_USERNAME }}/fastapi-backend

    - name: Build & Push Frontend
      run: |
        docker build -t ${{ secrets.DOCKER_USERNAME }}/fastapi-frontend ./frontend
        docker push ${{ secrets.DOCKER_USERNAME }}/fastapi-frontend

    - name: Deploy to EC2
      uses: appleboy/ssh-action@v1
      with:
        host: ${{ secrets.EC2_HOST }}
        username: ec2-user
        key: ${{ secrets.EC2_KEY }}
        port: 22
        script: |
          docker pull ${{ secrets.DOCKER_USERNAME }}/fastapi-backend
          docker pull ${{ secrets.DOCKER_USERNAME }}/fastapi-frontend

          cat <<EOF > docker-compose.yml
          version: "3.8"
          services:
            backend:
              image: ${{ secrets.DOCKER_USERNAME }}/fastapi-backend
              ports:
                - "8000:8000"
              environment:
                DATABASE_URL: ${{ secrets.DATABASE_URL }}

            frontend:
              image: ${{ secrets.DOCKER_USERNAME }}/fastapi-frontend
              ports:
                - "3000:3000"
              depends_on:
                - backend
          EOF

          docker-compose down || true
          docker-compose up -d
